<div class="main">
    <div class="roadmap-heading flex">
        <p>Roadmap</p>
        <a href="" class="smooth">View</a>
    </div>
    <ul class="roadmap-list">
        <li class="planned">
            <span class="title">Planned</span>
            <span class="count">{{roadmapCount['planned']}}</span>
        </li>
        <li class="in-progress">
            <span class="title">In Progress</span>
            <span class="count">{{roadmapCount['in-progress']}}</span>
        </li>
        <li class="live">
            <span class="title">Planned</span>
            <span class="count">{{roadmapCount['live']}}</span>
        </li>
    </ul>
</div>
