.main {
  height: auto;
  width: 72%;
  margin: 50px auto;
  min-height: 200px;
  justify-content: space-between;
  /* flex-direction: column; */
}

.sidebar-comp{
  width: 25%;
  
}

.main-sug-comp{
  width: 70%;
}

/* For tablet */
@media (max-width: 1024px) {
  .main{
    flex-direction: column;
    width: 90%;
  }
  .main-sug-comp, .sidebar-comp{
    width: 100%;
  }

  .main-sug-comp{
    margin-top: 50px;
  }

}

@media (max-width: 768px) {
  .main{
    margin-top: 0;
    width: 100%;
  }

  .sidebar-comp{
    width: 100%;
    height: 100px;
  }
}

